<div id="thanks" class="panel" title="Thank You">
  <h2>Confirmed</h2>
  <fieldset>
    <legend></legend>
    <div class="row">
      <label>Your payment has been scheduled</label>
    </div>
  </fieldset>
  <a class="redButton" target="_self" href="/landings.iphone">Logout</a>
</div>
